<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Regist</title>
</head>
<body>

<!-- 注册表单
     action： 表单提交的地址    http://localhost:8080/WEBTEST/regist
     method： 表单提交的方式

     提交的参数:
        username=weiyh
        password=123456
-->
<form action="http://localhost:8080/springbootdemo/regist" method="post">
    username: <input type="text" name="username"/>
    <br/>
    password: <input type="password" name="password"/>
    <br>
    <input type="submit" value="REGIST">
</form>
</body>
</html>